/* required fonts */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Shared Section */
body{
    background-color: #F5F8FF;
}
.primary-color{
    color: rgba(78, 71, 255, 1);
}

button:hover{
    background-color: #3b6ae2;
    opacity: .7;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    
}



/* NavBar */
.page-container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 116px;
    
}

.navbar{
    z-index: 1;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 150px;
    margin-right: 150px;
    
    

}

nav ul li a{
    text-decoration: None;
}

.nav-logo{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 34px;
}

.btn-1{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    width: 132px;
    height: 48px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;
}


/* First Banner */
.first-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
    width: 100%;
    position: absolute;
}

.first-banner h4{
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 37px;
   

}

.first-banner button{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    width: 174px;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;
}

/* See it action center */
.action-container{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    height: 328px;
    margin: 0 auto;
    gap: 220px;
    margin-bottom: 116px;
}

.action-container .field-1{
    font-family: "Raleway", sans-serif;

}

.action-container .field-1 h2{
    font-size: 42px;
    font-weight: bold;
    color: #252432;

}

.action-container .field-1 p{
    font-size: 24px;
    color: #25243285;
}

.launch-btn{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    width: 229px;
    height: 48px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;

}

#wc-img{
    border-radius: 48px;
}


/* User Section */
.user-container{
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    height: 306px;
    background-color: #4d47ff21;
    border-radius: 24px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 116px;
    padding: 50px 142px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.041);

}

.text-section-1 h1{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #252432;
    font-size: 38px;
    margin-bottom: 20px;
    
}


.text-section-2{
    display: flex;
    gap: 160px;
    justify-content: center;
}

.text-section-2 h1{
    font-family: "Inter", sans-serif;
    color: rgba(78, 71, 255, 1);
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 0;
    margin-top: 20px;
}

.text-section-2 p{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #00000077;
    margin-top: 5px;
}

/* User Feedback */
/* Most of the styling of this section is done using inline CSS Hehe diversity!! */
.user-feedback{
    max-width: 1140px;
    height: 342px;
    margin: 0 auto;
    margin-bottom: 116px;
}

.user-feedback .text-part h1{
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 50px;
}



.card-part{
    width: 366.67px;
    height: 243px;
    border: 2px solid rgba(0, 0, 0, 0.062);
    padding: 20px;
    border-radius: 14px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.068);
    font-family: "Inter", sans-serif;
}

.card-part h1{
    font-weight: 600;
}

.card-part p{
    color: #000000ab;
}

.profile{
    margin-top: 20px;
}

.sub-profile h4{
    color: #0000009c;
}

.sub-profile p{
    color: #00000063;
}

/* Ready to focus better section(Optional) */
.ready-focus{
    max-width:1140px;
    height: 696.77px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 90px;
    border-radius: 14px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.041);
    text-align: center;
    padding: 71px;
}

.ready-focus h1{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}

.ready-focus p{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #00000063;
    margin-bottom: 20px;
    
}


.ready-focus button{
    width: 195px;
    height:48px;
    background-color: rgba(78, 71, 255, 1);
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.ready-focus img{
    width: 840px;
    height: 364.77px;
    border-radius: 48px;
}


/* Get in touch Section */
.get-in-touch{
    display: flex;
    max-width: 1140px;
    height: 632px;
    margin: 0 auto;

}

.text-field{
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 80px;
    font-weight: bold;
}

.form-field form{
    display: flex;
    flex-direction: column;
}
.form-field label{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;

}

.form-field input,textarea{
    font-family: "Inter", sans-serif;
    color: #0000007c;
    font-size: 20px;
    margin-bottom: 20px;

}

.form-field input{
    border: 2px solid #0000002c;
    border-radius: 10px;
    width: 497px;
    height: 70px;
    padding-left: 30px;
    
}

.form-field textarea{
    resize: none;
    padding-left: 30px;
    padding-top: 20px;
    width: 497px;
    height: 135px;
    border-radius: 10px;
    border: 2px solid #0000002c;
}

.form-field button{
    height: 62px;
    background-color: rgba(78, 71, 255, 1);
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 16px;
}

/* Footer Section */
.mother-container{
    display: flex;
    flex-direction: column;
    height: 428px;
    background-color: #FFFFFF;
}

.bottom-text h1{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 100px;
    color:rgba(78, 71, 255, 1);
    text-align: center;
    margin-bottom: 0;
}

.bottom-text p{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #0000007e;
    text-align: center;
    margin-top: 5px;
    max-width: 531px;
    margin: 0 auto;
    color: #8987A1;
}

.bottom-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    
}

.bottom-nav a{
    text-decoration: none;
    color: #8987A1;
}